<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>753026523394-3uoq0n0qus5m2cod39tts0kdhb1t9kl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753026523394-3uoq0n0qus5m2cod39tts0kdhb1t9kl4</string>
	<key>API_KEY</key>
	<string>AIzaSyCAXUJLnejsRVUb1wB4ZBPf16vR3wABnD8</string>
	<key>GCM_SENDER_ID</key>
	<string>753026523394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.iosda.cohort2.sigabrt</string>
	<key>PROJECT_ID</key>
	<string>sigabrt-iosda</string>
	<key>STORAGE_BUCKET</key>
	<string>sigabrt-iosda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:753026523394:ios:c6d881e116f1f8d8</string>
	<key>DATABASE_URL</key>
	<string>https://sigabrt-iosda.firebaseio.com</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<string>YES</string>
</dict>
</plist>
